#!/usr/bin/make -f

%:
	dh $@ --with config-package

# In version 1.10 we stopped using bind9
# (and thus stopped diverting its config)
override_dh_configpackage:
	dh_configpackage --undisplace /etc/bind/named.conf.options.debathena
